@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  border: 1px dotted green;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* My Answer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* My Answer */
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 12px;
}

a {
  text-decoration: none;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.footer {
  background-color: #eeeeee;
}
